.box-1 button{
    float: right;

}

table{
   padding-top: 550px;
}

/* Base styles for the button */
.button1 {
    font-size: 16px; /* or your base font size */
}

/* Responsive styles for screens with a max width of 740px */
@media screen and (max-width: 740px) {
    .button1 {
        font-size: 12px !important; /* Adjust the font size as needed */
    }
}


@media screen and (max-width: 740px) {
    table td {
        font-size: 10px;
    }

    .button1{
        font-size: 2px;
    }

    
}






